@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --color-primary: #6366F1;
    --color-primary-light: #A5B4FC;
    --color-primary-dark: #4F46E5;

    --color-secondary: #06B6D4;
    --color-secondary-light: #67E8F9;
    --color-secondary-dark: #0E7490;

    --color-background: #F9FAFB;
    --color-background-light: #FFFFFF;
    --color-background-dark: #1F2937;

    --color-text: #111827;
    --color-text-light: #6B7280;
    --color-text-dark: #F9FAFB;

    --color-accent: #8B5CF6;
    --color-accent-light: #C4B5FD;
    --color-accent-dark: #6D28D9;
  }
}

@font-face {
  font-family: 'Pretendard';
  src: url('/fonts/PretendardVariable.woff2') format('woff2-variations');
  font-weight: 100 900; /* 가변 범위 지정 */
  font-style: normal;
  font-display: swap;
}


body {
  background: var(--color-background);
  color: var(--color-text);
  font-family: 'Pretendard', Arial, Helvetica, sans-serif;
  font-weight: 400;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
}