/* 로그인 컨테이너 중앙 배치 */
.selectOauthContainer {
    background-color: #FFFAF0;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    width: 350px;
    margin-top: 100px; /* ✅ 헤더 높이만큼 내려오기 */
}


.selectContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 12px;
    border-radius: 8px;
    border: none;
    cursor: pointer;
    transition: 0.3s;
    box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.2);
    text-decoration: none;
    font-size: 16px;
    font-weight: bold;
    color: #3C1E1E;
    margin-top: 4px;
}


.selectContainer:hover {
    background-color: #FFE812;
    transform: scale(1.05);
}